body {
    text-align: center;
}

.axis {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    font: 11px sans-serif;
    fill: #000;
    stroke: none;
    font-weight: bold;
}

.axis line {
  stroke: #ccc;
}