{
    "presets": [
        "@babel/preset-env",
        [
            "@babel/preset-stage-0",
            {
                "decoratorsLegacy": true,
                "pipelineProposal": "minimal"
            }
        ],
        "@babel/preset-react"
    ]
}
